* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    overflow: hidden;
    /*background: url("https://i.stack.imgur.com/pHq2y.png");*/
}
.scene,
canvas{
    position: absolute;
    width: 100%;
    height: 100%;
}

.container {
    position: absolute;
    bottom: 30px;
    right: 0;
    max-width: 200px;
}

